*{
margin: 0 0;
padding: 0 0;
}

/*Fonts*/

@font-face {
font-family: "PTSans";
  src: url("../fonts/PTSansRegular.eot"),
  url("../fonts/PTSansRegular.woff"),
  url("../fonts/PTSansRegular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: "PTSans";
    src: url("../fonts/PTSansItalic.eot"),
    url("../fonts/PTSansItalic.woff"),
    url("../fonts/PTSansItalic.ttf");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "PTSans";
    src: url("../fonts/PTSansBold.eot"),
    url("../fonts/PTSansBold.woff"),
    url("../fonts/PTSansBold.ttf");
    font-weight: bold;
    font-style: normal;
}

/*Grid*/

.container{
    width: 960px;
    padding: 0 10px;
    margin: 0 auto;
    overflow: hidden;
}
/*.container:after{
    content: '';
    display: block;
    clear: both;
}*/
.to-left {
    float: left;
}
.to-right {
    float: right;
}
.center {
    text-align: center;
}


/*Navigation block*/

header {
    background-color: #ffcd34
}
header:after {
    content: '';
    display: block;
    width: 100%;
    height: 14px;
    background-image: linear-gradient(135deg, #fb1, #fb1 35%, #000 35%, #000 65%, #fb1 65%);
    background-size: 35px 20px;

}
.page-nav {

}
.page-nav-logo {
    line-height: 75px;
    width: 200px;
    font-size: 0;
    text-decoration: none;
}
.page-nav-logo__img {
    vertical-align: middle;
    width: 48px;
    height: 38px;
    margin-right: 16px;
}
.page-nav-logo__text {
    vertical-align: middle;
    font-family: PTSans;
    font-size: 24px;
}
.page-nav-button{
    width: 174px;
    height: 46px;
    background-color: #ffe184;
    color: #000;
    font-family: PTSans;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    line-height: 46px;
    margin-top: 14px;
}
.page-nav-button:hover{
    background-color: #ffecb2;
}
.page-nav-button:active{
    background-color: #f6bf16;
}

.page-nav-menu{
    max-width: 560px;
    min-height: 75px;
    line-height: 75px;
    font-size: 0px;
    margin-right: 10px;
    text-align: center;
}

.page-nav-menu li{
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    height: 46px;
    max-height: 46px;
    max-width: 130px;
    line-height: 46px;
    text-align: center;
    border: 2px solid #ffcd34;
    padding: 0 14px;
}

.page-nav-menu li:hover {
    border: 2px solid #bc9d36;
}

.page-nav-menu li:active {
    border: 2px solid #796e38;
}

.page-nav-menu a{
    font-family: PTSans;
    font-size: 16px;
    text-decoration: none;
    color: #000;
}

/*Promo block*/

.promo{
    background-image: url("../img/promo_ekskavator.jpg");
    background-size: cover;
    height: 460px;

}
.promo:after {
    content: '';
    display: block;
    width: 100%;
    height: 14px;
    background-image: linear-gradient(135deg, #fb1, #fb1 35%, #000 35%, #000 65%, #fb1 65%);
    background-size: 35px 20px;

}
.promo-content{
    margin-top: 125px;
    /*margin-bottom: 101px;*/
}
.promo-slogan{
    font-family: PTSans;
    color: #FFF;
    font-weight: bold;
    font-size: 44px;
}
.promo-text{
    margin: 14px auto;
    font-family: PTSans;
    color: #FFF;
    font-weight: normal;
    font-size: 20px;
    width: 620px;
    max-height: 200px;
}
.promo-button{
    display: block;
    margin: 25px auto;
    box-sizing: border-box;
    width: 220px;
    height: 46px;
    border: 2px solid #ffcd34;
    font-family: PTSans;
    font-size: 18px;
    font-weight: bold;
    color: #FFF;
    text-decoration: none;
    line-height: 40px;
    text-align: left;
    padding-left: 20px;
    background-image: url("../img/promo_arrow_right.png");
    background-repeat: no-repeat;
    background-position: 180px 50%;
}
/*Consult block*/

.consult{
width: 100%;
height: 177px;
background-color: #202e3b;
}

.consult-title{
font-family: PTSans;
font-size: 24px;
color: #ffcd34;
font-weight: normal;
margin-top: 40px;
}

.consult-form{
margin-top: 40px;
}

/*<div class="consult">
    <div class="container">
        <h2 class="consult-title to-left">Закажите бесплатную консультацию по подбору подходящей техники</h2>
          <form action="#" class="consult-form">
            <input class="consult-form__item to-left" type="text">Как вас зовут?</input>
            <input class="consult-form__item to-left" type="text">Номер для связи</input>
            <input class="consult-form__item to-left" type="text">Выберите дату</input>
            <input class="consult-form__button to-left" type="submit">Заказать консультацию</input>
          </form>
    </div>
</div>*/